.estiloBoton {
    background-color: #BCB785;
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
}

.estiloBotonSiguiente {
    background-color: #BCB785;
    width: 8rem;
    height: 3rem;
    border-radius: 3px;
    color: #ffffff;
}

.estiloTextoRegistro {
    color: #BCB785;
    font-family: 'Open Sans', sans-serif;
}

.estiloBotonSecciones {
    background-color: #BCB785;
    width: 6rem;
    height: 4rem;
    border-radius: 3px;
}

.estiloBotonSiguienteSecciones {
    background-color: #BCB785;
    width: 16rem;
    height: 4rem;
    border-radius: 3px;
    color: #ffffff;
}

.pieDePagina {
    background-color: #BCB785;
    width: 6rem;
    height: 4rem;
    border-radius: 3px;
}

/* styles.css */
.input-style {
    width: 85%;
    height: 48px;
    margin-left: 7%;
    margin-top: 0.8rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: linear-gradient(40deg, black 40%, transparent 40%);
    background-color: #D9D9D9;
}

.input-style::placeholder {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.4);
}
